.App {
  text-align: center;
  transition: all ease-in-out 1s;
}

::-webkit-scrollbar {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  margin: 30px;
}
