body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('bg.png');
  background-color: #173147;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  animation: bgChange 120s ease-in-out infinite;
}

body::before{
  position:absolute; 
  width:0; 
  height:0; 
  overflow:hidden; 
  z-index:-1;
  content: url('bg.png');
}

@keyframes bgChange {
  0% {
    background-position: 0 0;
  }
  33% {
    background-position: 50% 100%;
  }
  67% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 0;
  }

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "KIMM_light";
  src: url("../src/static/한국기계연구원_Light.ttf");
}

@font-face {
  font-family: "KIMM_bold";
  src: url("../src/static/한국기계연구원_bold.ttf");
}

@font-face {
  font-family: "Gmarket_bold";
  src: url("../src/static/GmarketSansBold.otf");
}

@font-face {
  font-family: "Gmarket_medium";
  src: url("../src/static/GmarketSansMedium.otf");
}

@font-face {
  font-family: "Gmarket_light";
  src: url("../src/static/GmarketSansLight.otf");
}
