.Join3_display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.Join3_whole-block {
  width: 1600px;
  height: 900px;
  /* height:900px */
  box-sizing: border-box;
  left: 160px;
  top: 120px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 2px solid #ffffff;
  border-radius: 50px;
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25))
    drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Join3_left-box {
  box-sizing: border-box;
  left: 160px;
  top: 120px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 30px;
  height: 90%;
  width: 40%;
  margin-left: 30px;
  margin-right: 30px;
}

.Join3_right-box {
  height: 90%;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.Join3_right-top-box {
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 2px solid #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  align-items: center;
  padding: 30px;
  align-content: flex-start;
}

.Join3_right-bottom-box {
  border: 1px solid red;
  align-items: self-end;
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Join3_next-button {
  position: absolute;
}

.Join3_border-glow {
  box-shadow: 0 0 10px white;
  animation: glow 1s ease-in-out infinite;
}

@keyframes Join3_glow {
  0% {
    box-shadow: 0 0 5px white;
  }
  50% {
    box-shadow: 0 0 20px lightyellow;
  }
  100% {
    box-shadow: 0 0 5px white;
  }
}
