.Code_container {
  width: 100%;
  height: max-content;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.Code_left-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Code_right-box {
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.Code_check-result-icons {
  /* border: 1px solid red; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}
.Code_result-right {
  width: fit-content;
  height: fit-content;
  margin-right: 30px;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  border-radius: 5px;
}
.Code_result-error {
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  border-radius: 5px;
}
.Code_light-greening {
  animation: Code_glow-Greening 2s ease-in-out infinite;
}
.Code_light-redding {
  animation: Code_glow-Redding 2s ease-in-out infinite;
}

@keyframes Code_glow-Redding {
  0% {
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.5);
  }
}
@keyframes Code_glow-Greening {
  0% {
    box-shadow: 0 0 10px 2px rgba(0, 128, 255, 0.5);
    background-color: rgba(0, 128, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(0, 128, 255, 0.8);
    background-color: rgba(0, 128, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(0, 128, 255, 0.5);
    background-color: rgba(0, 128, 255, 0.5);
  }
}
.Code_light-hided {
  background: none;
  color: rgba(128, 128, 128, 0.482);
}
.Code_code-input[readonly] {
  color: rgb(77, 77, 77);
  opacity: 0.5;
  background-color: rgba(211, 211, 211, 0.359);
}

.Code_code-input {
  width: 80%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.Code_up-items {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.Code_remain-time {
  width: 60%;
  /* border: 1px solid red; */
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

.Code_check-btn {
  width: 40%;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.361);
  background-color: rgba(46, 183, 36, 0.338);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px 0px;
}

.Code_check-btn:hover {
  background-color: rgba(46, 183, 36, 0.637);
}

.Code_check-btn:active {
  transform: translateY(2px);
}

.Code_check-btn:disabled {
  background-color: #8b008b10;
  cursor: default;
  color: gray;
}

.Code_resend-btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  margin: 5px 0px;
  position: relative;
  background-color: rgba(241, 59, 59, 0.001);
  font-size: 17px;
  color: white;
  cursor: pointer;
  outline: none;
  align-items: center;
  z-index: 1;
}
.Code_bottom-items {
  /* border: 1px solid white; */
  position: relative;
  width: 100%;
}
.Code_resend-btn:disabled {
  cursor: default;
}

.Code_filling-background {
  background-color: rgba(128, 128, 128, 0.446);
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0px;
  position: absolute;
  border: none;
}
.Code_resend-filling-animation {
  animation: Code_resend-fill-background 10s linear forwards;
}

@keyframes Code_resend-fill-background {
  0% {
    background-color: rgba(255, 255, 255, 0);
    width: 0px;
  }
  100% {
    background-color: rgba(128, 128, 128, 0.446);
    width: 100%;
  }
}
