.JoinEmail_container {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  justify-content: center;
}

.JoinEmail_box-discribe {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  text-align: center;
  align-items: center;
  position: relative;
  height: 80%;
}

.JoinEmail_box-email {
}
