.Join3_profileimage {
  box-sizing: border-box;
  padding: 30px 10px 10px 10px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: start;
  justify-content: center;
  color: white;
  font-size: 40px;
  text-align: center;
  /* padding-inline: 10px; */
}
.Join3_uploader_mainpage {
}
.Join3_uploader {
  /* border: 1px solid red; */
  padding: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.122);
  border: 3px solid inset rgba(255, 255, 255, 0.649);
}

.Join3_uploader-button {
  /* border: 1px solid yellow; */
  width: fit-content;
  margin-top: 30px;
}

.Join3_default-image-frame {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.Join3_default-image {
  border: 1px solid green;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: cover;
}

/* /////////////////////////// */

.Join3_uiverse {
  position: relative;
}

/* 바깥 전체 프레임 */
.Join3_uiverse-image-card {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
}

.Join3_uiverse-image-card {
  z-index: 1;
  color: white;
  font-size: 2em;
}

/* 돌아가는 거 */
.Join3_uiverse-image-card::before {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  content: '';
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(28, 146, 189, 0.737),
    rgba(216, 16, 129, 0.737)
  );
  animation: Join3_uiverse-image-rotBGimg 1s linear infinite;
  transition: all 0.2s linear;
}

@keyframes Join3_uiverse-image-rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 안에 가리는 거 작은 거 */
.Join3_uiverse-image-card::after {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  content: '';
  position: absolute;
  background: #07182e;
  margin: 5px;
  inset: 5px;
}
/* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
