.MBTIBtn_container {
  padding: 10px;
  /* border: 1px solid green; */
  height: fit-content;
  width: fit-content;
}

.MBTIBtn_button {
  position: relative;
  border-width: 0;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.MBTIBtn_pop {
  width: 40px;
  height: 40px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 15px;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #00000074;
  border: solid 1px #ffffff85;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.MBTIBtn_button .MBTIBtn_cover {
  font-family: monospace;
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
}
/* .MBTIBtn_button .MBTIBtn_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  width: 100px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: rgb(189, 60, 60);
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
} */

/* .MBTIBtn_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

.MBTIBtn_prevent-hover {
  pointer-events: none;
}

.MBTIBtn_button:hover .MBTIBtn_pop {
  transform: translateY(-100%);
}

.MBTIBtn_button:active .MBTIBtn_cover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* .MBTIBtn_download .MBTIBtn_download {
  animation: MBTIBtn_docs 1s infinite;
}

@keyframes MBTIBtn_docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
} */
