.next-page-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  height: fit-content;
}

.next-page-button:hover {
  background-color: rgba(255, 255, 255, 0.097);
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.097) 0%,
    rgba(255, 255, 255, 0.097) 51%,
    rgba(0, 0, 0, 0.8) 100%
  );
  transition: background-color 0.3s ease-in-out;
}

.next-page-button:active {
  background-color: rgba(255, 255, 255, 0.097);
}

.next-page-button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  filter: blur(1px);
}

.next-page-icon {
  margin-right: 10px;
}

/* //////////////////////////////// */
/* === removing default button style ===*/
.NextPage_button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.NextPage_button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  /* --animation-color: #37ffe8; */
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: 'Arial';
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  animation: blueblock_blink 0.5s infinite;
}
/* this is the text, when you hover on button */
.NextPage_hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.NextPage_dis-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.NextPage_hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.NextPage_dis {
  cursor: default;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.319);
  /* --animation-color: #ff373795; */
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: 'Arial';
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  animation: redblock_blink 1s infinite;
}

@keyframes redblock_blink {
  0% {
    --animation-color: rgba(239, 63, 63, 0.437);
  }
  50% {
    --animation-color: rgba(239, 63, 63, 0.256);
  }
  100% {
    --animation-color: rgba(239, 63, 63, 0.737);
  }
}
@keyframes blueblock_blink {
  0% {
    --animation-color: rgba(87, 239, 63, 0.737);
  }
  50% {
    --animation-color: rgba(87, 239, 63, 0.256);
  }
  100% {
    --animation-color: rgba(87, 239, 63, 0.737);
  }
}
