.RendezbooBtn {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 2px solid #ffffff;
  border-radius: 50px;
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25))
    drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  color: #ffffff;
  backdrop-filter: blur(2px);
  font-family: 'KIMM_light';
  cursor: pointer;
}

.RendezbooBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.RendezBoo_whole-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 0px;
  margin: 30px;
  height: auto;
  gap: 50px;
  margin-top: 100px;
  width: 1500px;
}

.doorIconStyle {
  height: 100px;
  width: 100px;
  display: flex;
  /* fill: #ffffff; */
}

.doorIconLayoutStyle {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.rocketItemSizeStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 300px;
  height: 400px;
}

.onThisButtonStyle {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 20px;
}
.RendezBoo_docking-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
}
