.RocketItemButton {
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  width: 100px;
}

.RocketBtnSame_container {
  border: 1px solid white;
  margin-top: 20px;
  height: 300px;
}

.tempborders {
  border: 1px solid yellow;
}
