.RocketItemButton {
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  width: 100px;
}

.Join3_uploader {
  margin-top: 10px !important;
}
.RocketBtnSame_container {
  /* border: 1px solid white; */
  height: 300px;
  margin-top: 10px;
}

.RocketBtnSame_modal {
  position: relative;
  bottom: 300px;
  left: 412px;
  width: fit-content;
}

/* ////////////////// */
.RocketBtnSame_form-box {
  border: 2px solid rgba(211, 211, 211, 0.52);
  top: 50%;
  left: 50%;
  width: auto;
  height: 360px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.707);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
}

.RocketBtnSame_form-top-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 15px;
}

.RocketBtnSame_form-p {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 2px dashed #ffffff6a;
  border-right: 2px dashed #ffffff6a;
  padding: 0 30px;
}

.RocketBtnSame_form-input-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.RocketBtnSame_form-input {
  width: 80%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.RocketBtnSame_form-label {
  padding-top: 13px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  width: 20%;
  box-sizing: border-box;
  text-align: start;
}

.RocketBtnSame_form-input-mbti {
  width: 150px !important;
  margin-right: 30px;
  text-align: center;
}

.RocketBtnSame_form-input:focus ~ .RocketBtnSame_form-label,
.RocketBtnSame_form-input:valid ~ .RocketBtnSame_form-label {
  color: #fff;
  font-size: 12px;
}

.RocketBtnSame_form-button {
  position: relative;
  display: inline-block;
  width: 95px;
  padding: 10px 20px;
  font-weight: bold;
  background: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 3px;
  border: none;
}

.RocketBtnSame_form-button:hover {
  background: #b2b2b239;
  color: #ffffff;
}

.RocketBtnSame_form-span {
  position: absolute;
  display: block;
}

.RocketBtnSame_form-span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.RocketBtnSame_form-span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.RocketBtnSame_form-span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.RocketBtnSame_form-span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.RocketBtnSame_form-edit-box {
  margin-top: 5px;
}
