.signal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}

.signal-selected {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    gap: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.my-signal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.your-name {
    color:#F0D46C;
    font-size: 75%;
    font-family: "KIMM_bold";
    /* margin-block: auto; */
}

.your-signal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.my-signal, .your-signal p { margin-block: auto; }

#time {
    color:rgba(255, 255, 255, 0.5);
    font-size: 50%;
}

.signal-form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
}

.signal-form > input {
    width: 90%;
    background: none;
    color: white;
    font-family: Gmarket_light;
    border: none;
    margin: 10px;
}

.signal-form > button {
    background: none;
    color: white;
    border: none;
}
