.naver-btn {
    width: 300px;
    height: 90px;
    margin: 0px 20px;
    font-size: 200%;
    font-family: 'KIMM_bold';
    color: #2db400;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #2db400;
    border-radius: 60px;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .naver-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .kakao-btn {
    width: 300px;
    height: 90px;
    margin: 0px 20px;
    font-size: 200%;
    font-family: 'KIMM_bold';
    color: #FEE500;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #FEE500;
    border-radius: 60px;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .kakao-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }